.app-name {
	font-family: 'Fjalla One', sans-serif;
}

html {
	background-color: #f5f7fa;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.container.login-desc {
	min-height: 70vh;
	margin-top: 100px;
}

.nav-container {
	background-color: #fff;
	position: fixed !important; top: 0; left: 0; right: 0;
	z-index: 100;
}

footer {
	background-color: #dddddd !important;
}
