{% extends 'signed_base.html' %}
{% block content %}
<style>
.container {
	min-height: 94vh;
	padding-top: 10px;
}

body {
	background-color: #292b2c;
}

</style>

<div class="row text-white">
	<div class="col-12">
		<h2>Sleep History</h2>
		<h4 class="mt-4">Summary</h4>
		<!-- <h2 class="text-center" style="padding:10px">Current Mode:</h2> -->
		<table class="table my-3">
			<thead>
				<tr>
					<th></th>
					<th>Min</th>
					<th>Max</th>
					<th>Avg</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Total Sleep Time</th>
					<td>1:45</td>
					<td>6:00</td>
					<td>4:33</td>
				</tr>
				<tr>
					<th scope="row">Time In Bed</th>
					<td>8:00</td>
					<td>11:45</td>
					<td>9:23</td>
				</tr>
				<tr>
					<th scope="row">Sleep Efficiency</th>
					<td>19%</td>
					<td>75%</td>
					<td>49%</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th></th>
					<th>Earliest</th>
					<th>Latest</th>
					<th>Avg</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Time To Bed</th>
					<td>08:45 PM</td>
					<td>11:00 PM</td>
					<td>10:02 PM</td>
				</tr>
				<tr>
					<th scope="row">Time Out Of Bed</th>
					<td>06:00 AM</td>
					<td>08:30 AM</td>
					<td>07:24 AM</td>
				</tr>
			</tbody>
		</table>

		<h4 class="mt-4">Graph</h4>
		<div class="chart-container" style="position: relative; height:60vh; width:80vw">
			<canvas id="chart" class="my-5"></canvas>
		</div>
	</div>
</div>

{% endblock %}

{% block customJS %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

var ctx = document.getElementById('chart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for label in labels %} "{{ label }}", {% endfor %}],
    datasets: [{
      label: 'TTB',
      data: {{ TTB }},
	  borderColor: 'rgba(39, 174, 96, 0.5)'
    }, {
      label: 'SST',
      data: {{ SST }},
      borderColor: 'rgba(39, 174, 96, 1.0)'
    }, {
      label: 'FW',
      data: {{ FW }},
      borderColor: 'rgba(26, 188, 156, 1.0)'
    }, {
      label: 'TOB',
      data: {{ TOB }},
      borderColor: 'rgba(26, 188, 156, 0.5)'
    }]
  },
  options: {
	  scales: {
		  yAxes: [{
			  ticks: {
				  max: 15,
				  min: -9,
				  stepSize: 1,
				  callback: function(value, index, values) {
					  	if (value < 0) {
							return 24+value;
						}
                        else {
							return value;
						}
                    }
			  }
		  }]
	  }
  }

});

</script>


{% endblock %}
