{% extends 'signed_base.html' %}
{% block content %}
<style>
.container {
	min-height: 94vh;
}

body {
	background-color: #292b2c;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  margin-top: 20px;
  background-color: #fa3;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #000;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fd9;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #0d30a3;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #6660a3;
}
</style>

<div class="row text-white">
	<div class="col-12">
		<!-- <h2 class="text-center" style="padding:10px">Current Mode:</h2> -->
		<h3 id="sleep" class="text-center" style="padding-top:25px">I am up</h3>

		<div class="switch">
			<p align="center">
			
				<img src="{{ url_for('static', filename='imgs/moon_circle2.png') }}" width="180px" id="moon-circle" height="180px"/>
				<img src="{{ url_for('static', filename='imgs/sun_circle.png') }}" width="180px" id="sun-circle" height="180px"/>
				
				<input id="cmn-toggle-4" onclick="toggleSleep()" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
				<label for="cmn-toggle-4"></label>
			</p>
		</div>
	</div>
</div>

<div class="row text-white">
	<div class="col-2"></div>
	<div class="col-8 text-center" style="padding:15px">
		<h5>Tonight's Sleep Plan:</h4>
			<span id="bedtime">Go to bed by <b>{{bedtime}}</b></span>
		<br>
		Wake up at <b>{{waketime}}</b>
	</div>

	<div class="col-2"></div>
</div>

<div class="row">
	<div class="col-12 text-center" style="padding:20px">
		<p>
			<a href="{{ url_for('history') }}" class="btn btn-info" role="button">Sleep History</a>
		</p>
	</div>
</div>
{% endblock %}

{% block customJS %}

<script>

//hide the moon real quick at first
$('#moon-circle').hide();

function toggleSleep() {
	console.log();
	
	if(!$("#cmn-toggle-4").is(':checked')) {
		// Is Awake
		$('#sleep').html('I am up');
		$('#bedtime').css("text-decoration", "none");
		$('#moon-circle').hide();
		$('#sun-circle').show(); 
		show_prompt();
	} else {
		$('#sleep').html('Going to sleep');
		$('#bedtime').css("text-decoration", "line-through");
		$('#moon-circle').show();
		$('#sun-circle').hide();
	}
}

function show_prompt() {
    var sleepTime;
    do {
        sleepTime=prompt("About what time did you fall asleep?");
    }
    while(sleepTime.length < 1); // process however we like, ie "2" could be assumed to mean "2:00 AM" depending on when entered.
    $('#myinput').val(sleepTime);
}


</script>

{% endblock %}
