<!--'stolen from bootstrap examples'-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-muted">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">nite2nite</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
		<a class="nav-link" href="log.html">Log Sleep<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="reports.html">Reports</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="support.html">Support</a>
	  </li>
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!--img src="{{ user_data.picture }}" id="user_nav_photo"-->
		<i class="fa fa-cog" aria-hidden="true"></i>
		Profile: {{ user_data.name }}</a>
		<div class="dropdown-menu" aria-labelledby="dropdown01">
		  <a class="dropdown-item" href="settings.html">Preferences</a>
		  <a class="dropdown-item" href="devices.html">Connect Devices</a>
		  <a class="dropdown-item" href="access.html">Access/Sharing</a>
		  <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
		</div>
	  </li>
	</ul>
	<!--form class="form-inline my-2 my-md-0">
	  <input class="form-control mr-sm-2" type="text" placeholder="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form-->
  </div>
</nav>

<!--end 'stolen from bootstrap examples'-->

<!--/*

used these for interaction, reuse them in new layout

<img src="{{ user_data.picture }}" id="user_nav_photo">
<strong>{{ user_data.name }}</strong>
<a class="navbar-item" href="{{ url_for('logout') }}">
*/-->


	
