{% extends "signed_base.html" %}

{% block pageContent %}

<style>
.container {
	min-height: 94vh;
}

body {
	background-color: #292b2c;
}
</style>

<div class="row text-white bg-inverse">
	<div class="col-12 text-white text-center">
		<h2 class="text-white">How nite2nite Sleep Tracker Works</h2>
		<p style="margin-top:10px">
		nite2nite Sleep Tracking System is tool for tracking sleep intervals using either manual input, or integrated with a medical diagnostic device called an actigraph. The interaction is simple as can be; the user flips a switch when they go to bed (i.e.; lights out, trying to sleep), and then flips it back up whenever they’re up - either once per night and in the morning, or if they get up one or more times during the night. Without an actigraph, the user is asked to estimate when they probably fell asleep. With a actigraph, the device is able to tell just when actual sleep began and ended, so no input is needed.
		</p>
		<p style="margin-top:10px">
		After a baseline of sleep data is collected - usually about 5 nights - nite2nite is then able to offer suggestions on when to go to bed/and how long to stay there. This method, called Sleep Restriction Therapy, is based on research which has shown that the optimal sleep efficiency (time spent in bed vs. time spent sleeping) is around 80-90%. Adjusting bedtimes and waking up times can help improve this figure, thereby improving sleep, and often overall health.
		</p>
		<h3 class="text-white">Advantages to Using an Actigraph</h3>
		<p style="margin-top:10px">
		Actigraphs are not only able to tell if you’re asleep or not - and exactly when, but also how deeply you’re sleeping and what stage of sleep you’re in. This information helps to paint a more accurate and useful picture of how healthy your sleep cycles are, and how they may be improved.
		</p>
		<p style="margin-top:10px">
		When working with a physician, actigraphs can often be loaned out to patients during times their sleep is to be monitored. Check with your medical providers and insurance for details.
		</p>
	</div>
</div>

{% endblock %}













