<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">nite2nite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown_support" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Support
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdown_support">
				<a class="dropdown-item" href="#">FAQ</a>
				<a class="dropdown-item" href="#">Chat</a>
				<a class="dropdown-item" href="#">Helplines</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown_about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				About Us
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdown_about">
				<a class="dropdown-item" href="#">Contact Us</a>
			</div>
		</li>

	</ul>

	<ul class="navbar-nav">
  	  <form class="form-inline">
    		<button class="btn btn-primary my-2 my-sm-0" type="submit">login</button>
    	</form>
    </ul>

  </div>
</nav>
